/* src/components/Comment/Comment.css */

.comment-container {
  margin: 20px 0;
}

.comment-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-submit-button {
  align-self: flex-end;
  padding: 8px 16px;
  font-size: 0.9em;
  color: #413c3c;
  background-color: #f8d4d4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-submit-button:hover {
  background-color: #ffb4b4;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.comment-content {
  font-size: 1em;
  margin-bottom: 5px; /* 댓글 내용 아래 여백 */
}

.comment-author-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-author {
  font-size: 0.9em;
  color: #555;
  margin-right: 10px; /* 삭제 버튼과의 간격 조정 */
}

.comment-delete-button {
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px 10px;
}

.comment-delete-button:hover {
  text-decoration: underline;
}
