.search-lost-pets-container {
  margin-top: 30px;
}

.search-lost-pets-card {
  margin-bottom: 20px;
}

.search-lost-pets-item {
  position: relative; /* 카드의 상대 위치를 설정 */
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-lost-pets-item .card-body {
  padding: 20px;
  position: relative; /* 본문 내용의 상대 위치 설정 */
}

.search-lost-pets-item .delete-button {
  position: absolute;
  bottom: 10px; /* 카드의 하단에서 위치 조정 */
  right: 10px;  /* 카드의 오른쪽에서 위치 조정 */
  border: none;
  background: none;
  color: #b45567; /* 빨간색 글씨 */
  font-size: 14px; /* 적당한 글씨 크기 */
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-lost-pets-item .delete-button:hover {
  color: #a02d2d; /* 호버 시 색상 변화 */
}

.search-lost-pets-item:nth-child(1) {
  background-color: #f9f9f9; /* 카드 1의 배경 색상 */
}

.search-lost-pets-item:nth-child(2) {
  background-color: #e9ecef; /* 카드 2의 배경 색상 */
}

.search-lost-pets-item:nth-child(3) {
  background-color: #f1f3f5; /* 카드 3의 배경 색상 */
}

.search-lost-pets-item:nth-child(4) {
  background-color: #ffffff; /* 카드 4의 배경 색상 */
}

/* 호버 시 색상 및 효과 */
.search-lost-pets-item:hover {
  background-color: #e2e6ea; /* 호버 시 배경 색상 */
  transform: translateY(-5px); /* 호버 시 카드 이동 효과 */
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item .page-link {
  border-radius: 0 !important;
  color: #b45567;
}

.pagination .page-item.active .page-link {
  background-color: #b45567;
  border-color: #b45567;
  color: white;
}

.pagination .page-link:hover {
  background-color: #f0f0f0;
  color: #b45567;
}

.pagination .page-link:focus {
  box-shadow: none;
  outline: none;
}
