@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

nav{
    font-family: 'BookkMyungjo-Bd';
    font-size: medium;
    
    
}

.nav-container{
    height: 40px;
}
.nav-home{
    color: #BCC0C6;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    text-decoration: none;

}

.nav-home:hover{
    color: palevioletred;
}

.nav-container{
    background-color: #24282F;
    display: flex;
}

.nav-title{
    margin-top: 10px;
    margin-left: 80px;
    color: #BCC0C6;
}

.nav-link{
    display: flex;
    margin-left: auto;
}

.nav-item{
    color: #BCC0C6;
    text-decoration: none;
}

.nav-item:hover {
    color: palevioletred;
}

.banner {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner a{
    font-family: 'PyeongChangPeace-Bold';
    font-size: xx-large;
    text-decoration: none;
    color: black
}



@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
    margin-left: 65px;
    position : relative;
    display : inline-block;
}

.dropbtn_icon{
    font-family: 'Ownglyph_meetme-Rg';
}
.dropbtn {
    position: relative; /* 부모 요소로부터 상대적인 위치 설정 */
    font-family: 'Ownglyph_meetme-Rg';
    background-color: #f0f2f5;
    border-color: #f0f2f5;
    text-align: center;
    font-weight: 400;
    color: rgb(37, 37, 37);
    padding: 12px;
    width: 165px;
    height: 80px;
    cursor: pointer;
    font-size: 35px;
    border-radius: 50%;
    margin-top: 30px;
    
}


.dropbtn:hover {
    color: rgb(241, 164, 177);
}

.dropbtn::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M10 90 Q50 10, 90 90 Z' fill='rgb(241, 164, 177)'/%3E%3C/svg%3E");
    position: absolute;
    width: 60px; /* SVG 너비 */
    height: 50px; /* SVG 높이 */
    bottom: 74px; /* 삼각형을 버튼 위로 위치 조정 */
    left: 3px; /* 삼각형을 버튼 왼쪽으로 위치 조정 */
    z-index: -1; /* 배경을 버튼 아래로 내리기 위해 z-index 설정 */
    transition: transform 0.3s ease-out; /* 호버 시 애니메이션 추가 */
    transform: rotate(-15deg);
}

.dropbtn:hover::before {
    transform: rotate(-15deg) scaleY(1.5); /* 호버 상태에서 크기를 키우고, 회전 시킵니다. */
    height: 65px; /* 호버 시 높이 조정 */
    bottom: 63px; /* 호버 시 약간 위로 이동 */
    z-index: -1; /* 호버 시에도 버튼 위에 나타나도록 z-index 설정 */
}


.ear::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M10 90 Q50 10, 90 90 Z' fill='rgb(241, 164, 177)'/%3E%3C/svg%3E");
    position: absolute;
    width: 60px; /* SVG 너비 */
    height: 50px; /* SVG 높이 */
    bottom: 72px; /* 삼각형을 버튼 위로 위치 조정 */
    left: 101px; /* 삼각형을 버튼 왼쪽으로 위치 조정 */
    transform: rotate(15deg); /* 삼각형 회전 */
    transition: transform 0.3s ease-out; /* 호버 시 애니메이션 추가 */
    border-radius: 10px;
    z-index: -1;
}

.dropbtn:hover .ear::before {
    height: 65px; /* 호버 시 높이 조정 */
    bottom: 63px; /* 호버 시 약간 위로 이동 */
    transform: rotate(15deg) scaleY(1.5); /* 호버 시 삼각형 크기 조정 */
}


.dropdown-content {
    text-align: center;
    font-family: 'Ownglyph_meetme-Rg';
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    min-width: 200px;
    background-color: rgb(241, 235, 235);
    border-radius: 20px;
    left: -17px; /* 원하는 만큼 왼쪽으로 이동 조정 */
    top: 100%; /* 부모 요소 아래에 위치하도록 설정 */
}

.dropdown-content a{
    font-family: 'Ownglyph_meetme-Rg';
    display : block;
    text-decoration : none;
    color : #24282F;
    font-size: 25px;
    padding : 12px 20px;
}

.dropdown-content a:hover{
    background-color : rgb(241, 164, 177);
    color: white;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.menu-container{
    margin-left:140px;
    margin-top: 5px;
}


.youtube-section{

    border: 2px solid blue;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.article-section{
    border: 2px solid blue;
}

.section1{
    border: 2px solid red;
    height: 200px;
}

.section2{
    border: 2px solid red;
    height: 200px;
}

.section3{
    display: flex;
    height: 300px;
}

.section3-1{
    width: 50%;
    border: 2px solid red;
}

.section3-2{
    width:50%;
    border: 2px solid red;
}
