/* Whole page background */
body {
    background-color: #f9f9f9;
    font-family: 'BookMyungjo-Bd', sans-serif;
    font-size: medium;
    color: #24282F;
}

/* Login container */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f2f5; /* nav에서 사용한 배경색과 동일 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group */
.form-group {
    margin-bottom: 15px;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #24282F; /* nav에서 사용한 글자색과 동일 */
}

/* Input styles */
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
.login-container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(241, 164, 177); /* dropbtn에서 사용한 hover 색상과 동일 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #d2687a; /* hover 시 더 진한 색상으로 변경 */
}

/* Link styles */
a {
    color: #007bff; /* nav에서 사용한 링크 색상과 동일 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* 링크에 마우스를 올렸을 때 밑줄 추가 */
}

/* Centering form */
.login-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.login-title {
    text-align: center;
}

/* 아이디 / 비번 찾기 */
.login-find {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #888; /* 회색으로 설정 */
}

.login-find a {
    text-decoration: none;
    color: #888; /* 링크 색상 회색으로 설정 */
    margin: 0 10px; /* 각 링크 사이의 간격 조정 */
}

.login-find a:hover {
    text-decoration: underline; /* 링크에 마우스를 올렸을 때 밑줄 추가 */
}
