/* Login container */
.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f2f5; /* 배경색 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group */
.form-group {
    margin-bottom: 15px;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #24282F; /* 글자색 */
}

/* Input styles */
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles for site login */
.site-login-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(241, 164, 177); /* 핑크색 버튼 배경색 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.site-login-button:hover {
    background-color: #d2687a; /* 핑크색 버튼 hover 색상 */
}

.google-button img {
    max-width: 100%;
    height: auto;
}

/* Link styles */
a { /* 링크 색상 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* 링크 hover 효과 */
}

/* Centering form */
.login-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.login-title {
    text-align: center;
}

/* 아이디 / 비밀번호 찾기 */
.login-find {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #888; /* 회색 */
    font-size: medium;
}

.login-find a {
    text-decoration: none;
    color: #888; /* 링크 색상 회색 */
    margin: 0 10px; /* 간격 조정 */
}

.login-find a:hover {
    text-decoration: underline; /* 링크 hover 효과 */
}
